<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Novo izletište</title>
</head>
<body>
<form action="/new" method="POST">
    <div>
        <label for="title">Naslov</label>
        <input type="text" id="title" name="title">
    </div>
    <div>
        <label for="description">Opis</label>
        <input type="text" id="description" name="description">
    </div>
    <button>Dodaj</button>
</form>
</body>
</html>